#navbar {
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: 1em;
  background: rgb(28, 44, 91, 0.4);
  background: linear-gradient(
    180deg,
    rgba(28, 44, 91, 0.4) 33%,
    rgba(108, 171, 221, 0.4) 91%,
    rgba(108, 171, 221, 0.4) 100%
  );
  vertical-align: middle;
}

#link {
  display: inline;
  cursor: pointer;
  margin-right: 1em;
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#siteName {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding-left: 1rem;
}

#navList {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 95%;

  vertical-align: middle;
  align-items: center;
  right: 0.5rem;
  justify-content: space-between;
}
