#portfolioContainer {
  text-align: center;
  background: rgb(28, 44, 91, 0.4);
  width: 90%;
  margin: auto;
}

#portfolioHeader {
  font-size: 3.5rem;
  color: white;
}

#portfolioSubHeader {
  color: white;
  font-size: 2rem;
  width: 60%;
  margin: auto;
  font-style: italic;
}

#projectName {
  color: white;
  font-size: 3rem;
}

#projectPicture {
  margin-bottom: 0.5rem;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.porImage {
  position: relative;
  width: 75%;
  height: 75%;
  margin: auto;
  padding: 0.5rem 0 0.5rem 0;
}

.porImage__img {
  display: block;
  width: 100%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.porImage__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 25px;
}

.porImage__overlay--blur {
  backdrop-filter: blur(5px);
}

.porImage__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.porImage__overlay:hover {
  opacity: 1;
}

.porImage__overlay:hover > * {
  transform: translateY(0);
}

.porImage__title {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: underline;
}

.porImage__description {
  font-size: 1.25em;
  width: 90%;
}

#projectLinks {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

#projectLogo {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#bottomImage,
#bottomOverlay {
  padding-bottom: 1.5rem;
}

#porCard-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

#porSkillCard {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
  background: rgb(28, 44, 91, 0.4);
  width: 6rem;
  height: 6rem;
  list-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 25px;
}

#porSkillCard:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}

#porSkillLogo {
  padding-top: 0.5rem;
  margin-bottom: -0.9rem;
}

#porCaption {
  font-size: 1.05rem;
}

#porSkillCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
